<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Ampyard</h2>
                    <h3 class="section-subheading text-muted">What makes Ampyard, well, the Ampyard?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>The Ampyard Way</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We are professionals who are uncompromising about positively impacting the world and learning from it.  This enables us to partner with our customers to discover things that were not possible before.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Our Mantra</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">"Simplify Work. Amplify Outcomes." is the mantra that drives Ampyard every day.  Our customers partner with us because we make their lives simple and improve their outcomes significantly.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Rich Expertise</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Professionals at Ampyard bring with them a rich on-field experience, along with a humble mastery of their craft.  This means that the customers experience an easy and fruitful partnership with us.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Relentless Improvement</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">At Ampyard, improvement is not a yearly activity.  We look for chances to improve things every single moment.  We also commit to make things better against all odds.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
