<!-- Clients Aside -->
<section id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Products</h2>
                    <h3 class="section-subheading text-muted">How have we changed the world?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 product-card" align="center">
                    <a href="https://notesally.com" target="_blank">
                        <img src="/img/logos/Notesally-Logo.png" class="img-responsive img-client img-centered" alt="Notesally">
                        Notesally™ - The Sales Enablement App
                    </a>
                </div>

                <div class="col-md-6 col-sm-6 product-card" align="center">
                    <a href="https://facequest.io" target="_blank">
                        <img src="img/products/facequest_logo.png" class="img-responsive img-client img-centered" alt="FaceQuest">
                        FaceQuest® - Face Recognition as a  Service
                    </a>
                </div>
                    
                <div class="col-md-6 col-sm-6 product-card" align="center">
                    <a href="https://techcoachcircle.com" target="_blank">
                        <img src="https://techcoachcircle.com/tech%20coach%20circle-logos_black_resized.png" class="img-responsive img-client img-centered" alt="Tech Coach Circle">
                        Tech Coach Circle
                    </a>
                </div>

                <div class="col-md-12 col-sm-12 product-card centered" align="center">

                        <img src="img/products/coming_soon.PNG" class="img-responsive img-client img-centered" alt="FaceQuest">
                        More products in our yard

                </div>
            </div>
        </div>
    </section>
