<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">How can we be awesome together?</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code-fork fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Technology Consulting</h4>
                    <p class="text-muted">Struggling with wicked technology problems? Partner with us to solve your wicked technology problems, no matter what tech stack you run on.</p></div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pagelines fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Agility Consulting</h4>
                    <p class="text-muted">Feel the pressure to build muscles to gracefully respond to market changes? Partner with us to become nimble at a sustainable pace.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-paper-plane fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">DevOps Consulting</h4>
                    <p class="text-muted">Want a power-up in your software delivery? Partner with us to shorten your delivery lead time without stressing yourselves.</p>
                </div>
                
                
                 <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Trainings for Enterprises</h4>
                    <p class="text-muted">Want to upskill or cross skill your engineers, managers or leaders? Ampyard's trainers with rich experience and expertise can help you bridge the knowledge gaps. </p>
                </div>
                
                 <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-paper-plane fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mentoring</h4>
                    <p class="text-muted">Want to develop a new capability in your engineers, managers or leaders?  Partner with us for hand-holding and expert advice from a hands-on mentor. </p>
                </div>
                
            </div>
        </div>
    </section>
