<!-- Clients Aside -->
<section id="testimonials">
  <div class="container">
    <div class="row">
      <div class="home-title text-center">
      <h2 class="section-heading">Testimonials</h2>
      <h3 class="section-subheading text-muted">What do people think about us?</h3>
  	</div>
    <div class="row" align="center">
      <div class="ui card" style="min-width:50%">
  	<div class="flexslider">
		<ul class="slides">
	  		{% for item in site.testimonial %}
	  		<li>
          <div class="content" align="center">
           <div class="header" style="padding-top:10px;">
             <h4 style="display:inline-block; margin-right:10px; ">{{ item.givername }}
             </h4>
             <a href="{{item.linkedin}}" style="display:inline-block">
               <i class="fa fa-linkedin"></i>
             </a></div>
           <h6 style="color: gray"> {{ item.company }} </h6>
           <hr/>
         </div>
          <div class="content text-left padding10 padding10-responsive">
          {{item.content}}
          <div>
            <div class="extra content">
        </div>
	 		</li>
	  		{% endfor %}
		</ul>
	</div>
    </div>
  </div>
</div>
  </div>
</section>
