<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">
     {% include navigation.html %}
     
     <section id="trainings">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Trainings</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    
                </div>
            </div>
        </div>
    </section>
    
    

   
      

    </body>
</html>
